html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    position: relative;
    background-color: aliceblue;
}

.navbar {
    height: 60px;
}

main {
    background-color: #badbcc;
    height: calc(100% - 60px);
}

@media (min-width: 768px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.fade-in-left {
    animation: fade-in-left 0.5s ease;
}

.fade-out-right {
    animation: fade-out-right 0.5s ease;
}
