html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    position: relative;
    background-color: aliceblue;
}

.navbar {
    height: 60px;
}

main {
    background-color: #badbcc;
    height: calc(100% - 60px);
}

@media (min-width: 768px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}

.card-carousel-item {
    display: none;
}

.card-carousel-item.active {
    display: block;
}
