@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<section class="h-100 pt-3">
    <div class="bg-light p-3">
        <h1 class="h4">Welcome</h1>

        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus sit amet urna ac feugiat.
            Ut non magna neque. Nullam euismod sem interdum, vulputate risus ut, consequat justo. In nec nunc
            aliquet, laoreet erat ut, auctor sem. Aliquam erat volutpat. Donec quam augue, tincidunt sodales
            aliquam quis, tempor sed tortor. Mauris eget porttitor eros. Sed sollicitudin congue augue, id
            blandit nibh gravida vel. Etiam sit amet orci quis ligula gravida faucibus vel nec lacus. Ut sit
            amet diam massa. Donec dignissim, lectus sit amet consectetur suscipit, quam felis feugiat velit,
            vehicula consequat urna diam a ipsum. Phasellus maximus libero pellentesque ullamcorper elementum.
            Pellentesque et libero in turpis pharetra malesuada quis a ex. Fusce dignissim dapibus diam, in
            luctus mi molestie a. Quisque id dolor eget diam pharetra condimentum et sed leo. Suspendisse suscipit
            elit sit amet fermentum semper.
        </p>
        @if (!Model.HasEvents)
        {
            <p>
                <strong>There currently no events planned</strong>
            </p>
        }

        <div class="d-flex justify-content-end">
            @if (Model.HasEvents)
            {
                <a class="btn btn-primary" asp-area="" asp-page="/SignUps">
                    <i class="bi bi-card-checklist me-2"></i>My sign-ups
                </a>
            }
        </div>
    </div>
</section>
