@mixin custom-box-shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color) {
    -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
    -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
    box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin custom-border-radius($radius) {
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    border-radius: $radius !important;
}

@mixin custom-linear-gradient($start-color, $end-color, $angle: 90deg) {
    background-color: $start-color;
    background-image: -moz-linear-gradient($angle, $start-color, $end-color);
    background-image: -webkit-linear-gradient($angle, $start-color, $end-color);
    background-image: linear-gradient($angle, $start-color, $end-color);
}

/* Bootstrap Button Extensions */
@mixin custom-bootstrap-button($bg-color) {
    @include button-variant($bg-color, $bg-color,
        darken($bg-color, 7.5%), darken($bg-color, 10%),
        darken($bg-color, 10%), darken($bg-color, 12.5%));
}

@mixin custom-bootstrap-button-border($bg-color, $border-color, $border-left-size) {
    @include button-variant($bg-color, $bg-color, darken($bg-color, 7.5%), darken($bg-color, 10%), darken($bg-color, 10%), darken($bg-color, 12.5%));
    border-left: $border-left-size solid $border-color;
    border-right: unset;
    border-top: unset;
    border-bottom: unset;
    text-align: left;
}
