/* theme fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

$font-family-sans-serif: 'Rubik', 'Open Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-headings: 'TRT Regular', 'Open Sans', sans-serif;

$font-size-default: 16px;
$font-size-small: 87.5%;
$font-size-smaller: 75%;
$font-size-smallest: 50%;

/* bootstrap (5) default color spec */
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

/* bootstrap (5) default gray scale */
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

/* theme colors */
$dark: $gray-900;
$light: $gray-100;
$primary: $blue;
$secondary: $gray-600;
$danger: $red;
$warning: $yellow;
$success: $green;
$info: $cyan;

/* custom breakpoints */
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
$bp-xxl: 1300px !default;
$bp-fhd: 1920px !default;

/* custom app variable */
$navbar-height: 60px;
